/* this file contains all the fixed and conditional css styling for 'd3-map.html' */ 

.country {
	fill: #a4927a;
	stroke: rgb(57, 56, 56);
}

p.acknowledgement {
	position: absolute;
	top: 580px;
	width: 600px;
	height: 20px;
}

button.refresh {
	position: absolute;
	top: 55px;
}

.tooltip {
	position: absolute;
	pointer-events: none;
	background: #000;
	color: #fff;
}

.Data {
	padding-top: 24px;
	position: absolute;
	top: 110px;
	left: 10px;
}

.Map {
	padding-top: 24px;
	position: absolute;
	top: 110px;
	left: 10px;
	background-color: #006994;
	outline: 1px solid black;
}
.town_value {
	width: 40px;
}

.town:hover { /* on hover, turn the circle the mouse is over red */
	fill: red;
}
